@font-face {
    font-family: 'NFL';
    src: url('assets/NFL.ttf');

}

/* List styling */
ol {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 60%;
   height: 250px;
 }

 ol li {
   counter-increment: list;
   margin: 0 3px 3px 3px;
   padding: 0.4em;
   padding-left: 1.5em;
   padding-bottom: 0.6em;
   font-size: 1.7em;
   height: 20px;
   font-family: 'NFL';
   background-color: lightgrey;
   border-left: 6px solid red;
   width: 300px;
   cursor: pointer;
	 position: relative;

 }

 ol li:before {
  color: #e75204;
  content: counter(list) ".";
  left: -32px;
  position: absolute;
  margin: 0 3px 3px 3px;
  padding-left: 1.2em;
  text-align: right;
  width: 26px;
 }

 ol i {
   -webkit-transition: opacity .2s;
   transition: opacity .2s;
   opacity: 0;
   display: block;
   cursor: pointer;
   color: #c00;
   top: 3px;
   right: 10px;
   position: absolute;
   font-style: normal;
 }

 ol li:hover i {
   opacity: 1;

 }


#qb {
  max-height: 200px;
  width: auto;
}

#wr {
  max-height: 200px;
  width: auto;
}

#rb {
  max-height: 200px;
  width: auto;
}


h2 {
  font-family: "roboto";
}


.column {
    float: left;
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}

button {
  display: inline-block;
  background-color: #CCCCCC;
  border: 0.19em solid #CCCCCC;
  box-sizing: border-box;
  font-family:'Segoe UI','Roboto',sans-serif;
  font-weight:400;
  color:#000000;
  text-align: center;
  position:relative;
  padding: 5px;

}
button:hover {
  border-color:#7a7a7a;

}

input {
  padding: 6px;
  position: relative;
  border: 0.15em solid #CCCCCC;

}

/*    -webkit-transition: opacity .2s;
   transition: opacity .2s;
   opacity: 0;
   display: block;
   cursor: grab;
   color: #c00;
   top: 3px;
   right: 10px;
   position: absolute;
   font-style: normal; */
a {
    color: transparent;
    text-decoration: none;
    position: absolute;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

a:hover
{
     text-decoration:none;
     cursor: pointer;
}
