body {

}

#sortable {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 60%;
 }

 #sortable li {
   margin: 0 3px 3px 3px;
   padding: 0.4em;
   padding-left: 1.5em;
   font-size: 1.4em;
   height: 18px;
   border-left: 6px solid red;
   background-color: lightgrey;
   width: 350px;
   cursor: pointer;
	 position: relative;
	}




 #sortable i {
   -webkit-transition: opacity .2s;
   transition: opacity .2s;
   opacity: 0;
   display: block;
   cursor: pointer;
   color: #c00;
   top: 3px;
   right: 10px;
   position: absolute;
   font-style: normal;
 }

 #sortable li:hover i {
   opacity: 1;
 }
